/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContent {
    @apply h-screen;
    @apply w-full;
    @apply p-16;
}

.load {
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
}

.icon {
    width: 28px;
    height: 28px;
}

.icon_text {
    @apply p-1;
    @apply text-gray-600;
    @apply ml-1;
    @apply mr-8;
}